body {
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 0.3rem;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.12em;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid #000;
    color: black;
    font-weight: 712;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: rgb(77, 77, 244);
    color: white;
    font-weight: 769;
    border: none;
    padding: 10px 20px;
    border-radius: 0.48rem;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.6s ease-in;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}