@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Tilt+Neon&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;

}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-Container {
    width: 50%;
    height: 100%;
    background-color: rgb(209, 220, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.buttonss{
    width: 85%;
}
img{
    width: 70px;
    height: 70px;
}
.color_and_text {
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
.color{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    box-shadow: 4px 4px 10px 0px #803636;
    border-radius: 5px;
    padding: 15px;
}

.left-Container button {
    margin-top: 20px;
}
.right-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20PX;
    align-items: start;
    justify-content: start;
    overflow-y: scroll;
    overflow-x: hidden;
}
.right-container h1{
    width: 100%;
    text-align: center;
}
.right-container-notes {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20PX;
    align-items: start;
    justify-content: start;
  
}

.notesNotAdded {
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* top: 50%; */
}
.right-container div{
    width: fit-content;
    min-width: 200px;
    height: 150px;
    position: relative;
    padding: 17px 17px 3px 3px;
    /* flex-grow: 1; */
}
.right-container button{
    position: absolute;
    right: 8px;
    top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn27 {
    background-image: linear-gradient(
      to right,
      #ed6ea0,
      #ec8c69,
      #f7186a,
      #fbb03b
    );
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }