
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    /* background-color: #ffdcbb; */
    background-color: #ffdfbb;
    font-family: sans-serif;
    /* color: #eee; */
    font-size: 25px;
}

h1 {
    color: black;
    /* background-image: linear-gradient(#f35c5c, #ffb341); */
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.navbar #filter-emogi button {
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    /* background-color: #ffa57b; */
    background-color: #fdbb8f;
    color: #000;
    border: none;
    cursor: pointer;
}

.navbar #filter-emogi button:hover {
    background-color: #fca56b;
}

/* .search-bar{

} */
#search {
    padding: 10px 10px 10px 32px;
    background-image: url("./magnifying-glass.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    border: none;

}

.navbar>img {
    width: 20px;
    height: 20px;
}

#random-emogi {
    height: 20px;
    width: 20px;
}

#display-emoji {
    /* border: 1px solid red; */
    margin: 0px 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    /* border-radius: 10px; */
    gap: 20px;
}
